/* src/App.css */

.app-layout {
  display: flex;
  width: 100%;
}

/* Quando a sidebar está presente */
.content-area {
  flex: 1;
  margin-left: 260px; /* Espaço da sidebar */
  transition: margin-left 0.3s ease;
}

/* Quando a sidebar está oculta (classe adicionada no App.jsx) */
.no-sidebar .content-area {
  margin-left: 0;
}