/* src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Forçamos as cores para o modo claro */
  color-scheme: light;
  color: #213547;
  background-color: #ffffff; /* Fundo da página branca */
}

body {
  margin: 0;
  display: flex;
  place-items: flex-start; /* Alinha o conteúdo no topo */
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff; /* Garante que não haja bordas pretas */
}

#root {
  width: 100%; /* Faz o React ocupar a largura toda */
}